@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.App {
  margin: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;

}

body{
  background: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
h1{
  color: rgb(246, 246, 246);
  font-size: 50px;
  padding-top: 2rem;
}
#op{
  
  opacity: 70%;
}

form{
  display: inline;
}
.select{
  display: inline;
  margin: 1rem;
  
  
}
input{
  padding: .5rem;
  border-style: none;
}
.todo-button{
  padding:.5rem;
  border-style: none;
  background: rgb(97, 128, 212);
  cursor: pointer;
}
.fa-plus-square{
  font-size: 1;
  color: white;
}
.todo-item{
  list-style: none;
  display: inline;

  padding: 0rem 0.5rem;
}
.todo-list {
  min-width: 30%;
  list-style: none;
  
}
.completed{
  text-decoration: line-through;
  opacity: 0.5;
}
