@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;

}

body{
  background: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49a09d, #5f2c82);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
  min-height: 100vh;

  
}
h1{
  display: block;
  margin: 30px;
  font-size: 70px;
}

header,form{
  min-height: 20vh;
  justify-content: center;
  align-items: center;
}
form input, form button{
  padding: .5rem;
  font-size:1rem;
  border:none;
 

}
form button{
  color: #8f4fb9;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;

}
form button:hover{
  background:#8f4fb9 ;
  color: white;

}
.select{
  display: inline;
  padding: 1rem;
  font-size:1rem;
} 
.todo-container{
  display: flex;
  justify-content: center;
  
}
.todo-list{
  min-width: 40%;
  list-style: none;


}
.todo{
  margin: 0.5rem;
  background: white;
  color:black;
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
 
  
}
.todo li{
  flex:1;
  
}
.trash-btn,.complete-btn{
  background: #8f4fb9;
  color: white;
  border:none;
  padding:1rem
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;

}


.complete-btn{
  background: rgb(186, 235, 167);
  color: rgb(52, 189, 52);
  
}
.complete-btn:hover{
  background: rgb(52, 189, 52);
  cursor: pointer;
  color: white;
}
.trash-btn{
  background: rgb(235, 147, 147);
  color: rgb(207, 73, 73);
}
.trash-btn:hover{
  background: rgb(199, 65, 65);
  color:white;

}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select{
  margin:1rem;
  position: relative;
  overflow: hidden;

}
select{
  color:hsl(276, 99%, 28%);
  width:8rem;
  cursor: pointer;
  padding:.65rem;
}
.select::after{
  content: '\25BC';
  
  border: none;
  position: absolute;
  background: rgb(166, 130, 250);  
  top:1;
  right: 0;
  padding:.53rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:hover::after{
  background: white;
  color: rgb(166, 130, 250)
}